<div class="row">
  <div class="col-md-7 center-block">
  </div>
  <div class="col-md-5 center-block">
    <%= form_tag posts_path, method: :get do %>
      <div class="col-lg-12">
        <div class="input-group">
          <%= text_field_tag :search, "", class: "form-control", placeholder: "Pesquisar titulo ..." %>
          <span class="input-group-btn">
            <%= submit_tag 'Ir', class: 'btn btn-primary' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
  </br>
  </br>
<div class="content content-full-width">
  <% @posts.each_with_index do |post, index| %>
    <% if (index.to_i % 2) != 0 %>
      <div class="post-one-column post-one-column-one">
        <div class="post-image"><img src="<%= post.image.url(:list_thumb) %>" alt=""></div>
        <div class="post-info">
          <h3 class="date-and-category"><a href=""><%= post.created_at.strftime('%d de %b de %Y') %></a><a href=""><%= post.category.name %></a></h3>
          <h2 class="heading"><a href=""><%= post.title %></a></h2>
          <div class="post-text">
            <p><%= raw(post.body).truncate(500).html_safe %></p>
          </div>
          <ul class="social-icons">
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;facebook"></i></a></li> -->
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;instagram"></i></a></li> -->
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;linkedin"></i></a></li> -->
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;twitter"></i></a></li> -->
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;pinterest"></i></a></li> -->
          </ul>
          <div class="comments-count">
            <p><a href="<%= post_path(post) %>"><%= post.comments.count %> Comentários</a></p>
          </div>
          <div class="divider">
            <%= link_to "Leia - Mais", post_path(post) %>
            <% if user_signed_in? %>
              <% if policy(post).update? %>
                <%= link_to "Editar", edit_post_path(post), class: "btn btn-default" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="post-one-column post-one-column-two">
        <div class="post-image"><img src="<%= post.image.url(:list_thumb) %>" alt=""></div>
        <div class="post-info">
          <h3 class="date-and-category"><a href=""><%= post.created_at.strftime('%d de %b de %Y') %></a><a href=""><%= post.category.name %></a></h3>
          <h2 class="heading"><a href=""><%= post.title %></a></h2>
          <div class="post-text">
            <p><%= raw(post.body).truncate(500).html_safe %></p>
          </div>
          <ul class="social-icons">
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;facebook"></i></a></li> -->
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;instagram"></i></a></li> -->
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;linkedin"></i></a></li> -->
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;twitter"></i></a></li> -->
            <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;pinterest"></i></a></li> -->
          </ul>
          <div class="comments-count">
            <p><a href="<%= post_path(post) %>"><%= post.comments.count %> Comentários</a></p>
          </div>
          <div class="divider">
            <%= link_to "Leia - Mais", post_path(post) %>
            <% if user_signed_in? %>
              <% if policy(post).update? %>
                <%= link_to "Editar", edit_post_path(post), class: "btn btn-default" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-4 center-block">
    </div>
    <div class="col-md-8 center-block">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

  <!-- <div class="pagination"> -->
  <!--   <div class="newer&#45;posts hidden"><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;long&#45;arrow&#45;left"></i>Newer Posts</a></div> -->
  <!--   <div class="older&#45;posts"><a href="index&#45;one&#45;column&#45;2.html#">Older Posts<i class="fa fa&#45;long&#45;arrow&#45;right"></i></a></div> -->
  <!-- </div> -->
</div>
</div>

