    <div id="menu" class="menu">
      <div class="container">
        <ul class="social-icons">
          <li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="index.html#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <ul class="navigation">
          <li><%= link_to 'Início', '/' %></a></li>
          <li><a href="category.html">Lifestyle</a></li>
          <li><a href="category.html">Inspiration</a></li>
          <li><a href="category.html">Travel</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <% if user_signed_in? %>
            <% if current_user.admin? || current_user.author? %>
            <li><a href="">Post<i class="fa fa-angle-down"></i></a>
              <ul>
                 <li><%= link_to 'Novo Post', new_post_path %></li>
              </ul>
            </li>
          <% end %>
            <li><a href="">Usuário<i class="fa fa-angle-down"></i></a>
              <ul>
                 <li><%= link_to 'Minha Conta', edit_user_registration_path  %></li>
                 <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path  %></li>
          <% end %>
        </ul>
        <div class="menu-tougle">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>

