<div id="menu" class="menu">
  <div class="container">
    <ul class="social-icons">
      <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;facebook"></i></a></li> -->
      <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;instagram"></i></a></li> -->
      <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;linkedin"></i></a></li> -->
      <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;twitter"></i></a></li> -->
      <!-- <li><a href="index&#45;one&#45;column&#45;2.html#"><i class="fa fa&#45;pinterest"></i></a></li> -->
    </ul>
    <ul class="navigation">
      <li><a href="<%= posts_path %>">Início</a></li>
      <li><a href="">Notícias<i class="fa fa-angle-down"></i></a>
        <ul>
          <li><a href="<%= new_post_path %>">Nova</a></li>
          <li><a href="index-list.html">Lista</a></li>
        </ul>
      </li>
      <li><a href="">Usuários<i class="fa fa-angle-down"></i></a>
        <ul>
          <li><a href="<%= new_user_registration_path %>">Novo</a></li>
          <li><a href="<%= users_path %>">Lista</a></li>
        </ul>
      </li>
      <li><a href="">Categorias<i class="fa fa-angle-down"></i></a>
        <ul>
          <li><a href="<%= new_category_path %>">Nova</a></li>
          <li><a href="<%= categories_path %> ">Lista</a></li>
        </ul>
      </li>
      <li><a href="Sobre.html">Sobre</a></li>
      <li><a href="Contato.html">Contatos</a></li>
      <% if current_user.present? %>
        <li><a href="#"><%= current_user.to_s %><i class="fa fa-angle-down"></i></a>
          <ul>
            <li><%= link_to('Editar', destroy_user_session_path, :method => :delete) %></li>
            <li><%= link_to('Sair', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path)  %></li>
      <% end %>
    </ul>
    <div class="menu-tougle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>

