<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <!-- START: Styles-->
    <link rel="stylesheet" href="https://d2q4nobwyhnvov.cloudfront.net/2ca34baa-a19e-4bfe-b380-f6fde1e95daa/fsGJguDnb9sjUg/style.css"/>
    <link rel="stylesheet" href="https://d2q4nobwyhnvov.cloudfront.net/2ca34baa-a19e-4bfe-b380-f6fde1e95daa/fsGJguDnb9sjUg/css/adaptive.css"/>
    <link rel="stylesheet" href="https://d2q4nobwyhnvov.cloudfront.net/2ca34baa-a19e-4bfe-b380-f6fde1e95daa/fsGJguDnb9sjUg/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://d2q4nobwyhnvov.cloudfront.net/2ca34baa-a19e-4bfe-b380-f6fde1e95daa/fsGJguDnb9sjUg/css/owl.carousel.css"/>
    <!-- END: Styles-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- START: Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,600" rel="stylesheet" type="text/css"/>
    <!-- END: Fonts-->
    <script>__4front__=__aerobatic__={"versionId":"fsGJguDnb9sjUg","versionName":"v3","buildType":"release","webPagePath":"index.html","staticAssetPath":"//d2q4nobwyhnvov.cloudfront.net/2ca34baa-a19e-4bfe-b380-f6fde1e95daa/fsGJguDnb9sjUg","appId":"2ca34baa-a19e-4bfe-b380-f6fde1e95daa","appName":"octrace-selena","appUrl":"https://octrace-selena.aerobatic.io","deployStage":"production","statusCode":200,"manifestSha":"9ba4a50f91379e7c88ae3126e40dd60b1b923aee","baseUrl":"https://octrace-selena.aerobatic.io","versionCommit":"87fd16327b3b4c493a1559ff22785acab2633903"};</script>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body style="height: auto;">
    <!-- START: Header-->
    <div class="header" style="padding-bottom: 0px;">
      <div class="container">
        <h1 class="logo">Banner</h1>
      </div>
    </div>
    <!-- END: Header-->
    <!-- START: Menu-->
    <div id="menu" class="menu">
      <div class="container">
        <ul class="social-icons">
          <li><a href="index-one-column-2.html#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="index-one-column-2.html#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="index-one-column-2.html#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="index-one-column-2.html#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="index-one-column-2.html#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <ul class="navigation">
          <li><a href="<%= posts_path %>">Início</a></li>
          <li><a href="">Notícias<i class="fa fa-angle-down"></i></a>
            <ul>
              <% if current_user.present? %>
                <% unless current_user.comun? %>
                  <li><a href="<%= new_post_path %>">Nova</a></li>
                <% end %>
              <% end %>
              <li><a href="index-list.html">Lista</a></li>
            </ul>
          </li>
          <% if current_user.present? %>
            <% if current_user.admin? %>
              <li><a href="">Usuários<i class="fa fa-angle-down"></i></a>
                <ul>
                  <li><a href="<%= new_user_registration_path %>">Novo</a></li>
                  <li><a href="<%= users_path %>">Lista</a></li>
                </ul>
              </li>
            <% end %>
          <% end %>
          <li><a href="">Categorias<i class="fa fa-angle-down"></i></a>
            <ul>
              <% if current_user.present? %>
                <% unless current_user.comun? %>
                  <li><a href="<%= new_category_path %>">Nova</a></li>
                <% end %>
              <% end %>
              <li><a href="<%= categories_path %> ">Lista</a></li>
            </ul>
          </li>
          <li><a href="<%= contact_path %>">Contato</a></li>
          <% if current_user.present? %>
            <li><a href="#"><%= current_user.to_s %><i class="fa fa-angle-down"></i></a>
              <ul>
                <li><%= link_to('Sair', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %>
        </ul>
        <div class="menu-tougle">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <!-- END: Menu-->
    <!-- START: Hero-->
    <!-- END: Hero-->
    <div class="main-section">
      <div class="container">
        <div class="content content-full-width">
          <!-- START: Content-->
          <%= yield %>
          <!-- END: Content-->
        </div>
      </div>
    </div>
    <!-- START: Footer-->
    <div class="footer">
      <div class="container">
        <p class="copyright">© 2017 All rights reserved</p>
        <ul class="social-icons">
          <li><a href="index-one-column-2.html#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="index-one-column-2.html#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="index-one-column-2.html#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="index-one-column-2.html#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="index-one-column-2.html#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- END: Footer-->
    <!-- START: Menu Sidebar-->
    <%= render 'layouts/menu_left' %>
    <!-- END: Menu Sidebar-->
    <!-- START: Scripts-->
    <script src="https://d2q4nobwyhnvov.cloudfront.net/2ca34baa-a19e-4bfe-b380-f6fde1e95daa/fsGJguDnb9sjUg/js/jquery-2.2.4.js"></script>
    <script src="https://d2q4nobwyhnvov.cloudfront.net/2ca34baa-a19e-4bfe-b380-f6fde1e95daa/fsGJguDnb9sjUg/js/owl.carousel.js"></script>
    <script src="https://d2q4nobwyhnvov.cloudfront.net/2ca34baa-a19e-4bfe-b380-f6fde1e95daa/fsGJguDnb9sjUg/js/main.js"></script>
    <!-- END: Scripts-->
  </body>
</html>
